* {
    margin: 0px;
    padding: 0px;
}
*::-webkit-scrollbar {
    width: 10px;
    background-color: #37556D;
    padding:10px;
}
*::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 4px;
}
html{
	scroll-behavior: smooth;
	}
.container {
    padding: 20px 0px 20px 20px;
	height:400px;
}
video {
	position:absolute;
	top:0;
	left: 0;
	height:400px;
	width:100%;
	z-index: -1;
	object-fit: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-nome {
	color:white;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.nome_logo {
    margin-left: 10px; 
	font-family: lilita one, sans-serif;
	font-size: 10px;
}

.menu {
    background-color: #37556D;
    padding: 15px;
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu a {
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu a:hover {
    background-color: #eee;
    border-radius: 20px;
	color:#37556D;
}
#ativo{
	text-decoration:underline;
}
.content {
    margin-top: 50px;
	margin-left:40px;
}
.content h1{
	color:white;
	font-family: lilita one, sans-serif;
	font-size:90px;
}

.content p{
	color:#37556D;
	background: linear-gradient(to right, white 100%, transparent 100%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    animation: grifar 2s forwards;
    padding: 4px;
	display: inline;
	font-family: roboto, sans-serif;
	margin-top:20px;
}
.proposito{
	color:black;
	text-align:right;
    padding:5%;
	padding-top:0px;
	font-size:15px;
	font-family:Roboto, sans-serif;
	animation: slideInFromRight 2s forwards;
}
.proposito h3{
	color:#37556D;
	text-align:right;
	font-size:35px;
	font-family:lilita one, sans-serif;
}

.sobre{
	color:black;
	text-align:left;
    padding:5%;
	padding-top:0px;
	font-size:15px;
	font-family:Roboto, sans-serif;
	animation: slideInFromLeft 2s forwards;
}
.sobre h3{
	color:#37556D;
	text-align:left;
	font-size:35px;
	font-family:lilita one, sans-serif;
}
.carousel-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container h1{
	color:#37556D;
	text-align:center;
	font-size:35px;
	font-family:lilita one, sans-serif;
	margin-bottom:20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.person {
  min-width: 32%;
  text-align: center;
  padding: 10px;
}

.person img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.person h3 {
	font-family:lilita one, sans-serif;
	color:#37556D;
	margin-top: 10px;
	font-size: 20px;
}

.person p {
	
	font-family:Roboto, sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Garante que as setas fiquem acima do conteúdo */
  border-radius:20px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.carousel-container button:focus {
  outline: none;
}

.rodape{
	color:white;
	text-align:center;
    padding:15px;
	font-size:15px;
	font-family:Roboto, sans-serif;
    background-color: #37556D;
}
.logo_img1{
	height:75px;
	position:absolute;
	left: 0;
	margin-left:5px;
}

.logo_img1 img{
    height: 50%;
}

.rodape a img{
	transition:2s;
}
.rodape a img:hover{
	transition:2s;
    opacity: 0.7;
}

@keyframes grifar {
        from {
            background-size: 0 100%;
        }
        to {
            background-size: 100% 100%;
        }
}
	
@keyframes slideInFromRight{
	0%{
		transform: translateX(50px);
		opacity: 0;
	}
	100%{
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}
	.carousel-container {
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(50px); /* Move para baixo inicialmente */
    transition: opacity 2s ease, transform 2s ease; /* Transição suave */
}

.carousel-container.show {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

	
	
@media screen and (max-width: 768px) {
	.container {
		padding:0px;
		padding-top:20px;
	}
    .header {
        flex-direction: column;
        text-align: center;
    }
    .logo-nome {
        justify-content: center;
    }
    .menu {
        margin-top: 10px;
		border-radius: 25px;
    }
    .menu li {
        display: block;
        margin: 10px 0;
		font-size:12px;
		padding:5px;
    }
	.content {
		margin-top: 180px;
		margin-left:0px;
		text-align:center;
		
	}
	.content h1 {
		font-size:40px;
	}
	
	.content p {
		font-size:12px;
	}
	.canto-direito {
		display:none;
	}
	.person {
		min-width: 25%;
		text-align: center;
		padding: 10px;
	}
	.person img {
		width: 100%;
		object-fit: cover;
	}
}
